<nav>
    <a href="/">Main Menu</a> | <a href="/contact">Contacts</a> | <a href="/fio">FIO</a> | <a href="/bio">Biography</a> | <a href="/naviky">Naviky</a> | <a href="/languages">Languages</a>
</nav>