<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bio</title>
</head>
<body>
    <%- include("partials/menu.ejs") %>

    <h3><%=bio1 %></h3>
    <h4><%=bio2 %></h4>

    <%- include ("partials/footer.ejs") %>
</body>
</html>